<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Editable Tree - jQuery EasyUI Demo</title>
	<link rel="stylesheet" type="text/css" href="js/themes/default/easyui.css">
	<link rel="stylesheet" type="text/css" href="js/themes/icon.css">
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/jquery.easyui.min.js"></script>
	<script type="text/javascript" src="js/underscore.1.6.0.min.js"></script>
	<script type="text/javascript" src="js/backbone.1.1.2.min.js"></script>
	<script type="text/javascript" src="js/jquery.csv-0.71.min.js"></script>
	<script type="text/javascript" src="js/opencpu-0.5.js"></script>
	
	<style>
	.highconcern {color:red}
	.midconcern {color:orange}
	.lowconcern {color:green}
	#univariate>table>tbody>tr{
		border-bottom-style: solid;
		border-bottom-width: 1px;
		border-bottom-color: grey;
		text-align:right;
	}
	</style>

</head>
<body>

	<div id="win-tree" class="easyui-window" closed="true" style="width:600px;height:400px">
	<div id="tree-panel" class="easyui-panel" style="padding:5px">
        <ul id="tt"></ul>
	</div>
	</div>
    	
	<input type="file" id="csvEquationsInput" onchange="readCsv(this.files,function(x){analysis.EquationsfromCSV(x)})" accept=".csv">
			
	<a href="javascript:void(0)" class="easyui-linkbutton" onclick="$('#win-dg-equations').window('open');">Equations</a>
	<a href="javascript:void(0)" class="easyui-linkbutton" onclick="$('#win-dg-ranges').window('open');">Set ranges</a>
	<a href="javascript:void(0)" class="easyui-linkbutton" onclick="run_equiconcern()">Many variable breakeven</a>
	<a href="javascript:void(0)" class="easyui-linkbutton" onclick='$("#win-tree").window("open")'>Tree</a>
	
	<div id="win-dg-equations" class="easyui-window" closed="true" style="width:600px;height:400px" title="Equations">
		<div class="easyui-panel" data-options="fit:true">
			<div id="eq_tb">
				<a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick='addrow($("#dg-equations"))'>Add</a>
				<a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick='deleterow($("#dg-equations"),analysis,"equations")'>Delete</a>
			</div>
			<table id="dg-equations" toolbar="#eq_tb"></table>
		</div>
	</div>	

	<div id="win-dg-ranges" class="easyui-window" closed="true" style="width:600px;height:400px" title="Ranges">
		<div class="easyui-panel" data-options="fit:true">
			<div id="ra_tb">
				<a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick='addrow($("#dg-ranges"))'>Add</a>
				<a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick='deleterow($("#dg-ranges"),analysis,"ranges")'>Delete</a>
			</div>
			<table id="dg-ranges" toolbar="#ra_tb"></table>
		</div>
	</div>	
	
	<script type="text/template" id="outputstats_template">
		<%-variable%> of <%- scen %>: $<% print((scen_value).toFixed(2)) %><br/>
		<%-variable%> of <%- baseline %>: $<% print((baseline_value).toFixed(2)) %><br/>
		difference: $<% print((scen_value-baseline_value).toFixed(2)) %>	
	</script>
	
	<script type="text/template" id="univTable_template">
		<table>
			<thead>
			<th>Variable</th>
			<th>Best guess</th>
			<th title="% distance from best guess">Level of comfort</th>
			<th title="% distance from bound">Level of concern</th>
			<th>Value at crossover point</th>
			<th>% change of best guess</th>
			<th>NPV</th>
			</thead>
			<tbody>
			 <% _.each( tab, function( row ){ %>
				<tr <% if(row.concernClass){ print("class="+row.concernClass)} %>>
					<td><%- row.Variable%></td>
					<td><% if(row.Best) print(row.Best)%></td>
					<td ><% if(row.PercToLimit && !isNaN(parseFloat(row.PercToLimit))){ print((row.PercToLimit*100).toFixed(1)+"%")} %></td>
					<td><% if(row.PercToLimit && !isNaN(parseFloat(row.PercToLimit))){ print(((1-row.PercToLimit)*100).toFixed(1)+"%")} %></td>
					<td><% if(row.Break && !isNaN(parseFloat(row.Break))){print(row.Break.toFixed(4))} %></td>
					<td><% if(row.PercChange && !isNaN(parseFloat(row.PercChange))){print(row.PercChange.toFixed(2)+"%")} %></td>
					<td><% if(row.NPV){print(row.NPV)} %></td>
				</tr>
			  <% }); %>
			</tbody>
		</table>
	</script>

	<div id="explain"></div>

	<div id="singleplot" class="easyui-resizable" data-options="maxWidth:2048,maxHeight:1536" style="border: 1px solid rgb(204, 204, 204);width:400px;height:250px"></div>

	<div id="univariate"></div>

	
	<script type="text/javascript" src="model.js"></script>
	<script type="text/javascript" src="treemodel.js"></script>
	<script type="text/javascript">
		var analysis = new Analysis();
		var dgEquations = new DGEquations({ model: analysis, el: $("#dg-equations") });
		var dgRanges = new DGRanges({ model: analysis, el: $("#dg-ranges") });
		var npvText = new OutputStats({ model: analysis, el: $("#explain"), variable:'NPV' });
		var singleOutputPlot = new SingleOutputPlot({model:analysis, el:$("#singleplot"),output:'NPV'});
		var univTable = new UnivariateTable({model:analysis,el:$("#univariate"),output:'NPV'})
		ocpu.seturl("/breakdown/R")
		//ocpu.seturl("http://josephguillaume.ocpu.io/breakdown/R")
	</script>
	
</body>
</html>