<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Editable Tree - jQuery EasyUI Demo</title>
	<link rel="stylesheet" type="text/css" href="js/themes/default/easyui.css">
	<link rel="stylesheet" type="text/css" href="js/themes/icon.css">
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/jquery.easyui.min.js"></script>
	<script type="text/javascript" src="js/underscore.1.6.0.min.js"></script>
	<script type="text/javascript" src="js/backbone.1.1.2.min.js"></script>
	<script type="text/javascript" src="js/jquery.csv-0.71.min.js"></script>
	<script type="text/javascript" src="js/opencpu-0.5.js"></script>
</head>
<body>

	<div id="win-tree" class="easyui-window" closed="true" style="width:600px;height:400px">
	<div id="tree-panel" class="easyui-panel" style="padding:5px">
        <ul id="tt"></ul>
	</div>
	</div>
    	
	<input type="file" id="csvEquationsInput" onchange="readCsv(this.files,function(x){analysis.fromCSV(x)})" accept=".csv">
			
	<a href="javascript:void(0)" class="easyui-linkbutton" onclick="$('#win-dg-equations').window('open');">Equations</a>
	<a href="javascript:void(0)" class="easyui-linkbutton" onclick="get_ranges()">Set ranges</a>
	<a href="javascript:void(0)" class="easyui-linkbutton" onclick="run_univariate()">Single variable breakeven</a>
	<a href="javascript:void(0)" class="easyui-linkbutton" onclick="plot_univariate()">Single variable plot</a>
	<a href="javascript:void(0)" class="easyui-linkbutton" onclick="run_equiconcern()">Many variable breakeven</a>
	<a href="javascript:void(0)" class="easyui-linkbutton" onclick='$("#win-tree").window("open")'>Tree</a>
	
	<div id="win-dg-equations" class="easyui-window" closed="true" style="width:600px;height:400px" title="Equations">
		<div class="easyui-panel" data-options="fit:true">
			<table id="dg-equations"></table>
		</div>
	</div>	
			
	<script type="text/template" id="outputstats_template">
		<%-variable%> of <%- scen %>: $<% print((scen_value).toFixed(2)) %><br/>
		<%-variable%> of <%- baseline %>: $<% print((baseline_value).toFixed(2)) %><br/>
		difference: $<% print((scen_value-baseline_value).toFixed(2)) %>	
	</script>

	<div id="explain"></div>
			
	<script type="text/javascript" src="model.js"></script>
	<script type="text/javascript" src="treemodel.js"></script>
	<script type="text/javascript">
		var analysis = new Analysis();
		var dgEquations = new DGEquations({ model: analysis, el: $("#dg-equations") });
		var npvText = new OutputStats({ model: analysis, el: $("#explain"), variable:'NPV' });
		ocpu.seturl("/breakdown/R")
		//ocpu.seturl("http://josephguillaume.ocpu.io/breakdown/R")
	</script>
	
</body>
</html>